tags/PRE_VS2005_CONVERSION_2007_08_14/data/animationdefinition.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Erik Johnson (MOVES) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:element name="character">
      <xs:complexType>
         <xs:choice maxOccurs="unbounded">
            <xs:element ref="skeleton" />
            <xs:element ref="animation" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="mesh" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="material" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="skinningShader" />
            <xs:element ref="animationChannel" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="animationSequence" minOccurs="0" maxOccurs="unbounded" />
         </xs:choice>
         <xs:attribute name="name" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:normalizedString" />
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="animation">
      <xs:complexType>
         <xs:attribute name="fileName" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:normalizedString" />
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="name" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:normalizedString" />
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="material">
      <xs:complexType>
         <xs:attribute name="name" type="xs:normalizedString" use="optional" />
         <xs:attribute name="fileName" use="required" type="xs:normalizedString"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="mesh">
      <xs:complexType>
         <xs:attribute name="name" type="xs:normalizedString" use="optional" />
         <xs:attribute name="fileName" use="required" type="xs:normalizedString" />
      </xs:complexType>
   </xs:element>
   <xs:element name="skeleton">
      <xs:complexType>
         <xs:attribute name="name" type="xs:normalizedString" use="optional" />
         <xs:attribute name="fileName" use="required" type="xs:normalizedString"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="skinningShader">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="shaderGroup" type="xs:normalizedString" />
            <xs:element name="shaderName" type="xs:normalizedString" minOccurs="0" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="animationChannel">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="name" type="xs:normalizedString" />
            <xs:element name="animationName" type="xs:normalizedString" />
            <xs:element name="startDelay" type="xs:float" />
            <xs:element name="fadeIn" type="xs:float" />
            <xs:element name="fadeOut" type="xs:float" />
            <xs:element name="speed" type="xs:float" />
            <xs:element name="baseWeight" type="xs:float" />
            <xs:element name="maxDuration" type="xs:float" />
            <xs:element name="isAction" type="xs:boolean" />
            <xs:element name="isLooping" type="xs:boolean" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="animationSequence">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="name" type="xs:normalizedString" />
            <xs:element name="startDelay" type="xs:float" />
            <xs:element name="fadeIn" type="xs:float" />
            <xs:element name="fadeOut" type="xs:float" />
            <xs:element name="speed" type="xs:float" />
            <xs:element name="baseWeight" type="xs:float" />
            <xs:element name="children">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="child" type="xs:normalizedString" minOccurs="1" maxOccurs="unbounded" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
