branches/TRY-BASE-IT/data/director.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="delta3dDirector"
        targetNamespace="delta3dDirector"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            Delta3D Director script file schema
        </xsd:documentation>
    </xsd:annotation>

    <xsd:element name="director" type="DirectorType"/>

    <xsd:complexType name="DirectorType">
        <xsd:sequence>
            <xsd:element name="header"                      type="HeaderType"/>
            <xsd:element name="libraries"                   type="LibrariesType"/>
            <xsd:element name="graph"                       type="GraphType"/>
            <xsd:element name="chainLinkConnection"         minOccurs="0" maxOccurs="unbounded" type="ChainLinkConnectionType"/>
            <xsd:element name="valueLinkConnection"         minOccurs="0" maxOccurs="unbounded" type="ValueLinkConnectionType"/>
            <xsd:element name="removedChainLinkConnection"  minOccurs="0" maxOccurs="unbounded" type="ChainLinkConnectionType"/>
            <xsd:element name="removedValueLinkConnection"  minOccurs="0" maxOccurs="unbounded" type="ValueLinkConnectionType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HeaderType">
        <xsd:sequence>
            <xsd:element name="createTimestamp"      type="xsd:dateTime"/>
            <xsd:element name="lastUpdateTimestamp"  type="xsd:dateTime"/>
            <xsd:element name="editorVersion"        type="xsd:string"/>
            <!-- map won't validate unless the version number is correct -->
            <xsd:element name="schemaVersion"        type="xsd:string" />
            <xsd:element name="scriptType"           type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="importedScript" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="property" minOccurs="0" maxOccurs="unbounded" type="PropertyType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LibrariesType">
        <xsd:sequence>
            <xsd:element name="library" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="version" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GraphType">
        <xsd:sequence>
            <xsd:element name="importedScript" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
            <xsd:element name="readOnly"       minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
            <xsd:element name="idIndex"        minOccurs="0" maxOccurs="1" type="xsd:int" />
            <xsd:element name="id"             minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="property"       minOccurs="0" maxOccurs="unbounded" type="PropertyType"/>
            <xsd:element name="eventnodes"     type="NodeType"/>
            <xsd:element name="actionnodes"    type="NodeType"/>
            <xsd:element name="valuenodes"     type="NodeType"/>
            <xsd:element name="graph"          minOccurs="0" maxOccurs="unbounded" type="GraphType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NodeType">
        <xsd:sequence>
            <xsd:element name="node" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name"      type="xsd:string"/>
                        <xsd:element name="category"  type="xsd:string"/>
                        <xsd:element name="idIndex"   type="xsd:int" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="id"        type="xsd:string"/>
                        <xsd:element name="property"   minOccurs="0" maxOccurs="unbounded" type="PropertyType"/>
                        <xsd:element name="inputlink"  minOccurs="0" maxOccurs="unbounded" type="LinkType"/>
                        <xsd:element name="outputlink" minOccurs="0" maxOccurs="unbounded" type="LinkType"/>
                        <xsd:element name="valuelink"  minOccurs="0" maxOccurs="unbounded" type="LinkType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LinkType">
        <xsd:sequence>
            <xsd:element name="name"          type="xsd:string"/>
            <xsd:element name="immediate"     minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
            <xsd:element name="immediateMode" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
            <xsd:element name="visible"       minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
            <xsd:element name="exposed"       minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
            <xsd:element name="isout"         minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
            <xsd:element name="allowmultiple" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
            <xsd:element name="typecheck"     minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
            <xsd:element name="link"          minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id"   type="xsd:string"/>
                        <xsd:element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChainLinkConnectionType">
        <xsd:sequence>
            <xsd:element name="outputOwnerIndex" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="outputOwner"      type="xsd:string"/>
            <xsd:element name="inputOwnerIndex"  type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="inputOwner"       type="xsd:string"/>
            <xsd:element name="outputName"       type="xsd:string"/>
            <xsd:element name="inputName"        type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ValueLinkConnectionType">
        <xsd:sequence>
            <xsd:element name="outputOwnerIndex" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="outputOwner"      type="xsd:string"/>
            <xsd:element name="inputOwnerIndex"  type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="inputOwner"       type="xsd:string"/>
            <xsd:element name="outputName"       type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PropertyType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
            <xsd:choice>
                <xsd:element name="string">
                    <xsd:complexType mixed="true">
                        <xsd:sequence>
                            <xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <!--<xsd:element name="string" type="xsd:string"/>-->
                <xsd:element name="enumerated" type="xsd:string"/>
                <xsd:element name="float" type="xsd:float"/>
                <xsd:element name="double" type="xsd:double"/>
                <xsd:element name="integer" type="xsd:int"/>
                <xsd:element name="long" type="xsd:long"/>
                <xsd:element name="vec4" type="Vec4Type" />
                <xsd:element name="vec3" type="Vec3Type" />
                <xsd:element name="vec2" type="Vec2Type"/>
                <xsd:element name="boolean" type="xsd:boolean"/>
                <xsd:element name="colorRGB" type="ColorRGBType"/>
                <xsd:element name="colorRGBA" type="ColorRGBAType"/>
                <xsd:sequence>
                    <xsd:element name="resourceType" type="xsd:string" />
                    <xsd:element name="resourceDisplayName" type="xsd:string" />
                    <xsd:element name="resource" type="xsd:string" />
                </xsd:sequence>
                <xsd:element name="actorId" type="xsd:string" />
                <xsd:element name="group" type="GroupType"/>
                <xsd:element name="gameevent" type="xsd:string"/>
                <xsd:element name="array" type="ArrayType"/>
                <xsd:element name="container" type="ContainerType"/>
                <xsd:element name="containerSelector" type="ContainerSelectorType"/>
                <xsd:element name="bitMask" type="xsd:unsignedInt"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ArrayType">
        <xsd:sequence>
            <xsd:element name="size" type="xsd:int"/>
            <xsd:sequence>
                <xsd:element name="element" minOccurs="0" maxOccurs="unbounded" type="ElementType"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ElementType">
        <xsd:sequence>
            <xsd:element name="index" type="xsd:int"/>
            <xsd:element name="property" minOccurs="0" maxOccurs="1" type="PropertyType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ContainerType">
        <xsd:sequence>
            <xsd:element name="property" minOccurs="0" maxOccurs="unbounded" type="PropertyType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ContainerSelectorType">
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="property" minOccurs="0" maxOccurs="unbounded" type="PropertyType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GroupType">
        <xsd:sequence>
            <xsd:element name="parameter" minOccurs="0" maxOccurs="unbounded" type="PropertyType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Vec2Type">
        <xsd:all>
            <xsd:element name="value1" type="xsd:double" />
            <xsd:element name="value2" type="xsd:double" />
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="Vec3Type">
        <xsd:all>
            <xsd:element name="value1" type="xsd:double" />
            <xsd:element name="value2" type="xsd:double" />
            <xsd:element name="value3" type="xsd:double" />
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="Vec4Type">
        <xsd:all>
            <xsd:element name="value1" type="xsd:double" />
            <xsd:element name="value2" type="xsd:double" />
            <xsd:element name="value3" type="xsd:double" />
            <xsd:element name="value4" type="xsd:double" />
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="ColorRGBType">
        <xsd:all>
            <xsd:element name="valueR" type="xsd:float" />
            <xsd:element name="valueG" type="xsd:float" />
            <xsd:element name="valueB" type="xsd:float" />
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="ColorRGBAType">
        <xsd:all>
            <xsd:element name="valueR" type="xsd:float" />
            <xsd:element name="valueG" type="xsd:float" />
            <xsd:element name="valueB" type="xsd:float" />
            <xsd:element name="valueA" type="xsd:float" />
        </xsd:all>
    </xsd:complexType>

</xsd:schema>
