data/HLAMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Delta3D HLA Component configuration
    </xsd:documentation>
  </xsd:annotation>

  <xsd:simpleType name='nonEmptyString'>
    <xsd:restriction base='xsd:normalizedString'>
      <xsd:minLength value='1'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:element name="hla" type="HLAMappingType"/>

  <xsd:complexType name="HLAMappingType">
    <xsd:sequence>
      <xsd:element name="header" type="HeaderType"/>
      <xsd:element name="libraries" type="LibrariesType"/>
      <xsd:element name="ddm" type="DDMType"/>
      <xsd:element name="objects" type="ObjectsType"/>
      <xsd:element name="interactions" type="InteractionsType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="HeaderType">
    <xsd:sequence>
      <xsd:element name="name"   type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
      <xsd:element name="disEntityTypes" type="xsd:boolean"/>
      <xsd:element name="disEntityTypeAttribute" type="xsd:string"/>
      <xsd:element name="author"   type="xsd:string"/>
      <xsd:element name="comment"  type="xsd:string" minOccurs="0"/>
      <xsd:element name="copyright" type="xsd:string" minOccurs="0"/>
      <!-- document won't validate unless the version number is correct -->
      <xsd:element name="schemaVersion" type="xsd:string" fixed="1.0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LibrariesType">
    <xsd:sequence>
      <xsd:element name="actorLibrary" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:normalizedString"/>
            <xsd:element name="version" type="xsd:normalizedString"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="translatorLibrary" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:normalizedString"/>
            <xsd:element name="version" type="xsd:normalizedString"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DDMType">
    <xsd:sequence>
      <xsd:element name="enabled" type="xsd:boolean"/>
      <xsd:element name="space" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="property" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:string">
                    <xsd:attribute name="name" use="required" type="nonEmptyString"/>
                  </xsd:extension>  
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
         <xsd:attribute name="name" use="required" type="nonEmptyString"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ObjectsType">
    <xsd:sequence>
      <xsd:element name="object" minOccurs="0" maxOccurs="unbounded">  
        <xsd:complexType>
          <xsd:sequence>
            <xsd:choice>
              <xsd:sequence>
                <xsd:element name="objectClass" type="xsd:normalizedString" />
                <xsd:element name="actorType" type="xsd:normalizedString"/>
                <xsd:choice>
                  <xsd:element name="remoteOnly" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
                  <xsd:element name="localOnly" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
                </xsd:choice>
                <xsd:choice>
                   <xsd:element name="disEntityEnum" minOccurs="0" maxOccurs="1" type="DISEntityEnumType"/>
                   <xsd:element name="entityType" minOccurs="0" maxOccurs="1" type="EntityTypeString"/>
                </xsd:choice>
              </xsd:sequence>
              <xsd:element name="abstract" type="xsd:string"/>
            </xsd:choice>
            <xsd:element name="ddmSpace" type="xsd:normalizedString" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="entityIdAttributeName" type="xsd:normalizedString" minOccurs="0" maxOccurs="1" />
            <xsd:element name="entityTypeAttributeName" type="xsd:normalizedString" minOccurs="0" maxOccurs="1" />
            <xsd:element name="attrToProp" minOccurs="0" maxOccurs="unbounded" type="OneToManyType"/>
          </xsd:sequence>
          <xsd:attribute name="name" type="xsd:normalizedString"/>
          <xsd:attribute name="extends" type="xsd:normalizedString"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="objectHandler" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="objectClass" type="xsd:normalizedString" />
            <xsd:element name="disEntityEnum" minOccurs="0" maxOccurs="1" type="DISEntityEnumType"/>
            <xsd:element name="entityType" minOccurs="0" maxOccurs="1" type="EntityTypeString"/>
            <xsd:element name="handler" type="xsd:normalizedString"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actorTypeHandler" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="actorType" type="xsd:string"/>
            <xsd:element name="handler" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="InteractionsType">
    <xsd:sequence>
      <xsd:element name="interaction" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:choice>
              <xsd:sequence>
                <xsd:element name="interactionClass" type="xsd:normalizedString" />
                <xsd:element name="messageType" type="xsd:normalizedString"/>
              </xsd:sequence>
              <xsd:element name="abstract" type="xsd:string"/>
            </xsd:choice>
            <xsd:element name="ddmSpace" type="xsd:normalizedString" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="paramToParam" minOccurs="0" maxOccurs="unbounded" type="OneToManyType"/>
          </xsd:sequence>
          <xsd:attribute name="name" type="xsd:normalizedString"/>
          <xsd:attribute name="extends" type="xsd:normalizedString"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interactionHandler" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="interactionClass" type="xsd:string" />
            <xsd:element name="handler" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="messageHandler" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="messageType" type="xsd:string"/>
            <xsd:element name="handler" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DISEntityEnumType">
    <xsd:sequence>
       <xsd:element name="kind" type="xsd:int" minOccurs="0" maxOccurs="1" />      
       <xsd:element name="domain" type="xsd:int" minOccurs="0" maxOccurs="1" />      
       <xsd:element name="country" type="xsd:int" minOccurs="0" maxOccurs="1"/>      
       <xsd:element name="category" type="xsd:int" minOccurs="0" maxOccurs="1" />      
       <xsd:element name="subcategory" type="xsd:int" minOccurs="0" maxOccurs="1"/>      
       <xsd:element name="specific" type="xsd:int" minOccurs="0" maxOccurs="1"/>      
       <xsd:element name="extra" type="xsd:int" minOccurs="0" maxOccurs="1"/>      
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="EntityTypeString">
    <xsd:restriction base="xsd:token">
      <xsd:pattern value="(([0-9])*\.){6}([0-9])*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="OneToManyType">
    <xsd:sequence>
      <xsd:element name="hlaName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="hlaDataType" minOccurs="0" maxOccurs="1">
         <xsd:complexType>
            <xsd:simpleContent>
               <xsd:extension base="xsd:string">
                  <xsd:attribute name="array" type="xsd:boolean"/>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
      </xsd:element>
      <xsd:element name="hlaRequired" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:choice>
         <xsd:sequence>
            <xsd:element name="gameName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="gameDataType" type="xsd:string" minOccurs="0" maxOccurs="1"/> 
            <xsd:element name="gameRequired" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="default" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="enumerationMapping" minOccurs="0" maxOccurs="1">
               <xsd:complexType>
                  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                     <xsd:element name="value">
                        <xsd:complexType>
                           <xsd:simpleContent>
                              <xsd:extension base="xsd:string">
                                 <xsd:attribute name="id" type="xsd:string"/>
                              </xsd:extension>
                           </xsd:simpleContent>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
         <xsd:element name="parameter" type="GameParamType" minOccurs="0" maxOccurs="unbounded" />
      </xsd:choice>

      
    </xsd:sequence>
  </xsd:complexType>

   <xsd:complexType name="GameParamType">
      <xsd:sequence>
         <xsd:element name="gameName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="gameDataType" type="xsd:string" minOccurs="0" maxOccurs="1"/> 
         <xsd:element name="gameRequired" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="default" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="enumerationMapping" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
               <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                  <xsd:element name="value">
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:string">
                              <xsd:attribute name="id" type="xsd:string"/>
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>
