branches/Alion_07_30_05_DVTE_IPT2/data/animationdefinition.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Erik Johnson (MOVES) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="character">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="skeleton" />
				<xs:element ref="animation" maxOccurs="unbounded" />
				<xs:element ref="mesh" maxOccurs="unbounded" />
				<xs:element ref="material" maxOccurs="unbounded" />
				<xs:element ref="animationchannel" maxOccurs="unbounded" />
			</xs:choice>
			<xs:attribute name="name" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="animation">
		<xs:complexType>
			<xs:attribute name="filename" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="material">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="optional" />
			<xs:attribute name="filename" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="mesh">
		<xs:complexType>
			<xs:attribute name="filename" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="skeleton">
		<xs:complexType>
			<xs:attribute name="filename" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="animationchannel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="animationname" type="xs:string" />
				<xs:element name="startdelay" type="xs:string" />
				<xs:element name="fadein" type="xs:string" />
				<xs:element name="fadeout" type="xs:string" />
				<xs:element name="speed" type="xs:string" />
				<xs:element name="baseweight" type="xs:string" />
				<xs:element name="maxduration" type="xs:string" />
				<xs:element name="isaction" type="xs:string" />
				<xs:element name="islooping" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
